@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@300;400;600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
 
   
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    background-color: #F6F8FF;
    font-family: 'Space Mono', monospace;;
    
}

